<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
			    <div class="form-container"><!--column for form-->
				
				        <h2 class="title is-2">Sign In</h2>

				        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

				  	            <div class="field">
				    	            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", required: true %>
				                </div>

				                <div class="field">
				                    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", required: true %>
					            </div>

							
							    <div class="actions">
				                    <%= f.submit "Log in", class: "btn" %>
								</div>
							    <br/>
				                <%= render "devise/shared/links" %>
				        <% end %>
				</div>
			</div>
		</div>
    </div>
</div>
