<div class="account-page">
	<div class="container">
		<div class="row">
			<div class="col-2">
			  <div class="form-container-1"><!--column for form-->
				
				        <h2 class="title-1">New Product</h2>

				        <%= simple_form_for @product, html: { multipart: true } do |f|  %>
                        <% if product.errors.any? %>
                          <ul>
                            <% product.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                          </ul>
                        <% end %>


				  	            <div class="field-2">
				    	            <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Name" , required: true %>
				                </div>

				                <div class="field-2">
                            
				                    <%= f.number_field :price, autocomplete: "price", placeholder: "Price Add 00 in the end" , required: true, numericality: true%>
					              </div>
                      
				                <div class="field-2">
                          <%= f.text_field :model, autocomplete: "model", placeholder: "Model", required: true %>
                        </div>
                        
				                <div class="field-3">
                          <%= f.text_area :description, autocomplete: "description", placeholder: "Description", required: true %>
                        </div>

                        <span class="select">
                          <%= f.input_field :brand, collection: Product::BRAND, prompt: "Select brand", required: true %>
                        </span>
                        
                        <span class="select">
                          <%= f.input_field :color, collection: Product::COLOR, prompt: "Select color", required: true %>
                        </span>
                        
                        <span class="select">
                          <%= f.input_field :condition, collection: Product::CONDITION, prompt: "Select condition", required: true %>
                        </span>
                        
                        <div class="file">
                            <label class="file-label">
                              <%= f.input :image, as: :file, input_html: { class:"file-input product-image" }, label: false, wrapper: false, required: true %>
                                <span class="file-cta">
                                  <span class="file-icon"><i class="fa fa-upload"></i></span>
                                  <span class="file-label">Choose a file…</span>
                                </span>
                            </label>
                        </div>
							
							          <div class="actions-1">
				                    <%= f.button :submit, class: "btn" %>
								        </div>
                        <%= link_to 'Cancel', products_path, class:'button is-light' %>
							          <br/>
				        <% end %>
				</div>
			</div>
		</div>
  </div>
</div>
