<!DOCTYPE html>
<html>
  <head>
    <title>Phonei</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"><!--poppins font from google fonts website then select popping select some types and then embed-->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><!--link to connect to font awesome 4 to use different icons, just type font awesome 4 cdn and click on first link and copy the url and past it here with rel="stylesheet"-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <!--making navigation bar consist of logo and menu links-->
      <div class="navbar">
          <div class="logo">
              <img  src="<%= asset_path('logo.png') %>" alt="Phonei logo" width=125px>
          </div>

          <!--menu-->
          <nav> 
            <p class="notice" ><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <% if user_signed_in? %>
              <ul id="MenuItems"><!--use this id in js-->                        
                  <li><%= link_to "Home", products_path %></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                  <li><%= link_to "Account", edit_user_registration_path %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :get %></li>
              </ul>
            <% end %>
          </nav>
          <img src="<%= asset_path('cart.png') %>" alt="cart" width=30px height=30px><!--adding cart image in navigation section -->
          <img src="<%= asset_path('menu.png') %>" class="menu-icon" onclick="menutoggle()"><!--this is the menu icon which  will be displayed on smaller screens with 3 lines, and when we click on it, it will open upside down or like dropdown menu, to open like this we have pass one menutoggle function to it which we have written in the end in js-->
      </div>
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>

  </body>
</html>
