<!DOCTYPE html>
<html>
  <head>
    <title>Phonei</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet"><!--poppins font from google fonts website then select popping select some types and then embed-->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"><!--link to connect to font awesome 4 to use different icons, just type font awesome 4 cdn and click on first link and copy the url and past it here with rel="stylesheet"-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">

      <!--making navigation bar consist of logo and menu links-->
      <div class="navbar">
          <div class="logo">
              <img  src="<%= asset_path('logo.png') %>" alt="Phonei logo" width=125px>
          </div>

          <!--menu-->
          <nav> 
            <% if user_signed_in? %>
              <ul id="MenuItems"><!--use this id in js-->                        
                  <li><%= link_to "Home", products_path %></li>
                  <% if current_user.admin == true %>
                    <li><%= link_to "Dashbourd", rails_admin_path %></li>
                  <% end %>
                  <li><a href="">About</a></li>
                  <li><a href="">Contact</a></li>
                  <li><%= link_to "Account", edit_user_registration_path %></li>
                  <li><%= link_to "Log out", destroy_user_session_path, method: :get %></li>
              </ul>
            <% end %>
          </nav>
          <img src="<%= asset_path('cart.png') %>" alt="cart" width=30px height=30px><!--adding cart image in navigation section -->
          <img src="<%= asset_path('menu.png') %>" class="menu-icon" onclick="menutoggle()"><!--this is the menu icon which  will be displayed on smaller screens with 3 lines, and when we click on it, it will open upside down or like dropdown menu, to open like this we have pass one menutoggle function to it which we have written in the end in js-->
      </div>
    </div>
    <p class="notice" ><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render "layouts/footer" %>
    
    <script>
        //declare variable MenuItems which take ul having id "MenuItems"
        
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";//by default, we have set menu or dropdown menu height to 0px, means it is close by default
        
        function menutoggle()//this is the function which we have called above in nav which works on small devices and users click on it
        {
            if (MenuItems.style.maxHeight =="0px")//when user click on it and if it is closed or its height is 0px, then it will open or it should have heigt of 200px upon clicking
            {
                MenuItems.style.maxHeight = "200px"
            }
            else//if user not clicked or it has already opened, then it will upon clicking again closed
            {
                MenuItems.style.maxHeight = "0px" 
            }
        
        }
    </script>    

  </body>
</html>
