<!DOCTYPE html>
<html>
  <head>
    <title>Phonei</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <h1>Phonei Store</h1>
    </center>
    <hr>
    <p class="notice" style="background-color: green;"><%= notice %></p>
    <p class="alert" style="background-color: red;"><%= alert %></p>
    <% if user_signed_in? %>
      <br>
      <%= link_to "Products", products_path %>
      <br>
      <%= link_to current_user.email, edit_user_registration_path %>
      <br>
      <%= current_user.stripe_customer_id %>
      <br>
      <%= link_to "Log out", destroy_user_session_path, method: :get %>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
